<h2 class="bold"> Entries Dashboard </h2>

<div id="dashboard">

  <ul>
    <li>
      <a class="center" routerLink="./student" title="Student">
        <span class="fa fa-user"></span> Student
      </a>
    </li>

    <li>
      <a class="center" routerLink="./subject" title="Subject">
        <span class="fa fa-book"></span> Subject
      </a>
    </li>

    <li>
      <a class="center" routerLink="./score" title="Score">
        <span class="fa fa-table"></span> Score
      </a>
    </li>

  </ul>

</div>