#navbar {

	display : none;
}

#navbar ul {

	width : 100%;
	text-align : left;
}

#navbar ul li {

	display : block;
	width : 100%;
	margin : 0.151134846461949265687583444593% 0%;
	text-align : left;
	border : none;
	border-bottom : 2px solid lightblue;
}	

#navbar ul li a {

	font-size : 11px;
	border : none;
}

#menu-icon {

	visibility: visible;
}