#entry-update {

	overflow : hidden;
}


form .errors-list {

	margin-top : 10px;
	margin-bottom : 10px;
	padding-left : 10px;
}

form .errors-list h3 {

	font-size : 11px;
	font-weight : bold;
	color : red;
	margin-bottom : 10px;
	font-family : 'RobotoBold';
}

form .errors-list ul {

	list-style-type : square;
	margin-left : 30px;
}

form .errors-list li {

	line-height : 2.0em;
	font-size : 13px;
}

.form-group-parent fieldset.form-group:nth-child(2) {

	margin-right : 0;
}

.form-group-parent fieldset.form-group-3:nth-child(2) {

	margin-right : 4%;
}

.form-group-parent fieldset.form-group:nth-child(1) {

	margin-right : 4%;
}

fieldset.form-group {

	padding : 4px;
	margin-bottom : 5px;
	width : 46%;
	float : left;
	overflow : hidden;
	margin-right : 25px;
}

fieldset.form-group-3 {
	width: 29%;
}

fieldset .form-label , fieldset .form-control {

	height : 40px;
	width : 100%;
	line-height : 2.0em;
}

fieldset .form-label {

	padding : 8px;
	display : block;
	text-align : left;
	margin-bottom : 5px;
	font-weight : bold;
	font-family : 'RobotoBold';
}

fieldset .form-control {

	border : 2px solid #1d73c5;
	vertical-align : top;
	border-radius : 8px;
	padding : 8px;
	width : 100%;
}

fieldset.wide {

	width : 100%;
	float : none;
}

fieldset textarea.form-control {

	height : 120px;
	resize : none;
	padding : 10px;
	float : none;
}

.form-btn-submit , .form-btn-upload , .form-btn {

	display : inline-block;
	width : 100%;
	margin : 1.3351134846461949265687583444593% 0% 1.3351134846461949265687583444593% 0%;
	text-align : center;
	padding : 10px;
	font-size : 11px;
	border-radius : 6px;
	cursor : pointer;
	color : white;
}

.form-btn-upload-opt {

	width : 80px;
	float : none;
}

.form-file-upload {

	width : 40% !important;
}

.none {

	display : none;
}

.disabled {

	color : black !important;
	cursor : none !important;
	background-color : #b3b1b1 !important;
	border : 2px solid #e3e3e3 !important;
}

.link-btn-submit {
    display: inline-block;
    width: 100%;
    float: right;
    margin: 1.3351134846461949265687583444593% 0% 1.3351134846461949265687583444593% 0%;
    text-align: center;
    padding: 4px;
    font-size: 11px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}