.comment {

	border-bottom : 1px solid lightblue;
	padding : 10px;
}

.comment:hover {

	background-color : #fdfdfd;
}

.comment p {

	line-height : 1.7em !important;
	padding : 4px;
}

.comment .timestamp {

	font-style : italic;
	margin-left : 0.5em;
	font-size : 10px;
}

.comment b {

	font-size : 11px;
	margin-right : 6px;
}

.comment p.text {

	font-size : 12px;
	border : 2px solid black;
}


.comment a.reply-add {

	font-size : 11px;
	width : 70px;
	padding : 5px 15px;
	border-radius : 6px;
	display : inline-block;
	display : inline-block;
	margin : 0% 0% 0% 0%;
	text-align : center;
	padding : 8px;
	font-size : 11px;
	border-radius : 6px;
	cursor : pointer;
	color : white;
}

.comment a.reply-add:hover {

	color : #fff;
	background-color : #3099fd;
}

.replies {

	margin-left : 30px;
}

.reply {

	margin-top : 8px;
}