<ul>

  <li> <a routerLink="/"> <span class="fa fa-home"></span> Home </a> </li>
  <li> <a routerLink="/student"> <span class="fa fa-user"></span> Student </a> </li>
  <li> <a routerLink="/subject"> <span class="fa fa-book"></span> Subject </a> </li>
  <li> <a routerLink="/score"> <span class="fa fa-table"></span> Score </a> </li>

  <ng-container *ngIf="false">
    <li> <a routerLink="/"> <span class="fa fa-dashboard"></span> Dashboard </a> </li>
    <li> <a routerLink="/"> <span class="fa fa-sign-out"></span> Sign out </a> </li>
  </ng-container>

  <ng-container *ngIf="!true">
    <li> <a routerLink="/"> <span class="fa fa-sign-in"></span> Sign in </a> </li>
    <li> <a routerLink="/"> <span class="fa fa-plus"></span> Sign up </a> </li>
  </ng-container>

  <li> <a routerLink="/"> <span class="fa fa-question-circle"></span> More </a> </li>
  <li> <a href="javascript:void(0);" id="menu-icon"> <span class="fa fa-bars"></span> </a> </li>

</ul>