<ng-container *ngIf="searchCriteria.length > 0">
  <div id="search-menu">

    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">

      <fieldset class="form-control">
        <select name="type" id="search-type" formControlName="label">
          <option value=""> Search Type </option>

          <ng-container *ngFor="let criteria of searchCriteria">
            <option value="{{criteria.value}}">{{criteria.label}} </option>
          </ng-container>
        </select>

        <div class="inline-children">
          <input type="text" name="search" id="search-input"
            placeholder="Search Input?......................................." required="required"
            formControlName="value" #searchVal>
          <button id="search-btn" type="submit" [disabled]="isLoading" [ngClass]="{'disabled' : !searchForm.valid}">
            <span class="fa fa-search"></span> Search </button>
          <button id="search-btn" (click)="clearSearch()"> Clear </button>
        </div>
      </fieldset>

    </form>

    <ng-container *ngIf="searchInput">
      <p> <b>Search Input : </b> {{searchInput}} </p>
    </ng-container>

  </div>

</ng-container>