<h2 class="bold"> List of {{entityTitles}} </h2>

<div class="entries-options">
  <app-search-option [searchCriteria]="searchCriteria" (searchQuery)="onSearch($event)" (clearResult)="clearRes($event)"></app-search-option>
  <ng-template [ngTemplateOutlet]="entryOptionsRef"></ng-template>
</div>

<ng-container *ngIf="!isLoading && $entries.length > 0">

  <table id="entries" class="entries">

    <div class="clear"></div>

    <colgroup>
      <col />
      <col />
      <col />
      <col />
      <col />
    </colgroup>

    <thead>
      <tr>
        <th class="center">S/N</th>
        <th class="left">Full Name</th>
        <th class="left">Admission Number</th>
        <th class="center">Created On</th>
        <th class="center">Scores</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let $entry of $entries; index as i; trackBy:trackByItems">

        <tr>
          <td class="center">{{i + 1}}</td>
          <td [title]="$entry.$firstName + ' ' + $entry.$lastName"><a
              routerLink="../detail/{{$entry.$id}}">{{$entry.$firstName}} {{$entry.$lastName}}</a></td>
          <td class="left">{{$entry.$admissionNumber | slice:0:18}}</td>
          <td class="center">{{$entry.$createdOn | date:'fullDate'}} </td>
          <td class="tr-changes-menu center">
            <a routerLink="../detail/{{$entry.$id}}" class="btn-navy"> Detail </a>
            <a routerLink="../analysis/{{$entry.$id}}" class="btn-blue"> Analysis</a>
            <a routerLink="../update/{{$entry.$id}}" class="btn-green"> Update</a>

          </td>
        </tr>


      </ng-container>
    </tbody>

  </table>

</ng-container>


<app-no-entries *ngIf="!isLoading && $entries.length < 1"></app-no-entries>

<ng-container *ngIf="isLoading">
  <p> <b>Loading results...Please wait</b>
  </p>
</ng-container>

<div class="entries-options">
  <ng-template [ngTemplateOutlet]="entryOptionsRef"></ng-template>
</div>

<div class="clear"></div>


<ng-template #entryOptionsRef>
    <ng-container *ngIf="$entries.length > 0">
      <app-pagination [entriesSize]="$entries.length" [fDate]="firstEntryDate" [fId]="firstEntryId" [lDate]="lastEntryDate"
        [lId]="lastEntryId" [tCount]="totalCount" [nextPageNumber]="nextPageNumber" [prevPageNumber]="prevPageNumber"
        (pageNavigation)="pageNavigation($event)"></app-pagination>
    </ng-container>
</ng-template>